<div class="text-">

<h1 class="text-center">
<%= image_tag 'twtt.png' %>
</h1>

<h2 class="" title="Subheader">What will you make for the world?</h2>
<p title="Description">TWTT is a personal challenge to create something "<a href="http://ted.com"><strong>TED worthy</strong></a>" in a two week period.</p>

<%= render 'shared/share' %>
<br>
<br>
<div class="panel callout" style="    border-top: .8em solid rgb(22, 157, 72);">

<h3>Create something</h3>
<p>This is an opportunity for you to challenge something that you've been putting off. This is your chance to finally do that "thing" you've been thinking of. You can pick anything. Its completely up to you.</p>
<%= render 'plans/form' %>

</div>
<h3>Join others</h3>
<p>This website lets you simply share your TWTT project. The moment you post your TWTT, you have two weeks. After your two weeks, you will get an email asking you to post a final report.</p>

<%= link_to 'See the other #twoweektedtalks', recent_path, :class=> 'no-butt button tiny' %>


<h3>Stay connected</h3>
<p></p>
<%= link_to 'Subscribe', subscribe_path, :class=> 'button tiny' %>

</div>
